@page
@model EntAppSecond.Pages.Page3Model
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page3</title>
</head>
<body>
</body>
</html>
